<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="DownloadOrderIntervalInMillisecond" value="60000"/>
    <add key="DownloadMessageIntervalInMillisecond" value="60000"/>
    <add key="UploadServiceIntervalInMillisecond" value="60000"/>
    <add key="LocationServiceIntervalInMillisecond" value="300000"/><!-- 5 minutes to send request to server -->
    <add key="LocationUpdateIntervalInMillisecond" value="270000"/><!--4.5 minutes to request GPS signal -->
    <add key="FastestLocationUpdateIntervalInMillisecond" value="60000"/>
    <add key="SendGpsMessageWhenOffline" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="RDSWebService.RestService">
        <endpoint behaviorConfiguration="webHttp"
                  binding="webHttpBinding"
                  bindingConfiguration="BasicAuthentication"
                  contract="RDSWebService.IRestService" />
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding name="BasicAuthentication">
          <security mode="None">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceAuthorization serviceAuthorizationManagerType="RDSWebService.BasicAuthorization, RDSWebService" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="webHttp">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="false" />
  </system.webServer>
</configuration>